.view_appointment_btn {
  padding: 0px 8px;
  display: flex;
  padding: 5px 4px 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  .view_appointment_text {
    color: var(--System-Color-gray-700, #546174);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}
