.send_penalty_fine_input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--Primary-Color-black, #000);
  background: var(--System-Color-white, #fff);

  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  input {
    width: 48px;

    &::placeholder {
      text-align: center;
      color: var(--System-Color-gray-400, #cbd4e3);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: -0.6px;
    }
  }

  &p {
    width: 100%;

    color: var(--Primary-Color-black, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.6px;
  }
}
