.appointment_create_page_description {
  display: flex;
  flex-direction: column;
  gap: 7px;

  & h1 {
    color: var(--Primary-Color-black, #000);
    font-size: 24px;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    letter-spacing: -0.6px;
  }

  &p {
    color: var(--System-Color-gray-700, #546174);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.6px;
  }
}
