.primary_shin_btn {
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--Primary-Color-black, #000);
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--System-Color-gray-600, #a1b2ca);
  background: var(--Primary-Color-green, #b0f93c);
  outline: none;
  overflow: hidden;
  font-size: 15px;
  padding: 25px 70px;
  width: 100%;
}

.primary_shin_btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.primary_shin_btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.primary_shin_btn::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
