.primary_shin_btn {
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--Primary-Color-black, #000);
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--System-Color-gray-600, #a1b2ca);
  background: var(--Primary-Color-green, #b0f93c);
  outline: none;
  overflow: hidden;
  font-size: 15px;
  padding: 25px 70px;
  width: 100%;
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.6px;
}
