.not_appointment_content {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.character {
  border-radius: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--System-Color-gray-600, #a1b2ca);
}

.description {
  color: #202020;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.6px;
}
