.add_appointment_btn {
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid var(--Primary-Color-black, #000);
  background: var(--Primary-Color-green, #b0f93c);

  display: flex;
  width: 230px;
  height: 56px;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
