.container .chakra-step {
  display: flex;
  flex-direction: column;
  width: calc(100% - 65px);
}

.container .flag {
  border-radius: 0px 5px 5px 0px;
  background: #c8c8c8;
  width: 50px;
  height: 34px;
  margin-left: 15px;
  margin-bottom: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
}

.container .flag_line {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 55px;
  background: #c8c8c8;
}

.container .indicator {
  background: #c8c8c8 !important;
  border-color: #c8c8c8 !important;
}

.container .separator {
  background: #c8c8c8 !important;
  max-height: 100% !important;
}
